<ul>
{{#each items}}
  <li class="clasterer-list-item">
    <div class="clasterer-place">{{place}}</div>
    <div class="clasterer-review">{{review}}</div>
    <div class="clasterer-date">{{date}}</div>
  </li>
{{/each}}
</ul>