{{#each items}}
  <li class="review-list-item">
    <span class="item-name">{{name}}</span>
    <span class="item-place">{{place}}</span>
    <span class="item-date">{{date}}</span>
    <div class="item-review">{{review}}</div>
  </li>
{{/each}}
